<% if session[:gplus_id] %>
    <li><%= image_tag(@user.gplus_avatar_badge_url, :class => 'img-polaroid') %> <%= @user.gplus_display_name %></li>
<% else %>
    <li><%= image_tag(@user.avatar.badge.url, :class => 'img-polaroid') %> <%= @user.fullname %></li>
<% end %>
