/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}
hr.invisible {
  margin: 15px 0;
  border: transparent;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 56px;
  line-height: 1.2;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Sign-in form related */
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/* Entry table */
.log_time_day {
  color: #999;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.log_time_month {
  color: #aaa;
  font-size: x-small;
  text-transform: uppercase;
  text-align: center;
}
.log_time_year {
  color: #aaa;
  font-size: x-small;
  text-align: center;
}

/* Log controls */
.log_body {
  border-radius: 7px;
  background-color: #f7f7f7;
  padding: 1em;
  position: relative;
}
.log_body a,
.log_body a:hover {
  text-decoration: none;
}

.log_control {
  display: none !important;
  position: absolute;
  top: -0.5em;
  right: -1em;
}
.log_body:hover .log_control {
  display: inline-block !important;
}

/* Tag controls */
.tag {
  display: inline-block;
}
.tag_body {
  border-radius: 4px;
  background-color: #eee;
  margin: 2px 5px;
  padding: 0.4em;
  position: relative;
  display: inline-block;
  float: left;
}
.tag_body a,
.tag_body a:hover {
  text-decoration: none;
}

.tag_control {
  display: none !important;
  position: absolute;
  top: -0.5em;
  right: -1em;
  z-index: 10;
}
.tag_body:hover .tag_control {
  display: inline-block !important;
}

/* Entry controls */
.log_entry:hover .log_entry_body,
.log_entry:hover .log_entry_ctrl {
  background-color: #eee;
}
.log_entry:hover .log_entry_ctrl {
  text-align: center;
}
.log_entry_group .log_entry_ctrl .icon-remove  {
  display: none;
}
.log_entry:hover .log_entry_ctrl .icon-remove {
  display: inline-block;
}
table.log_entry_group td {
  border: none;
}
table.log_entry_group tbody tr:first-child {
  border-top: none;
}
table.log_entry_group tr {
  border-top: thin dotted #eee;
}
#entry_input_form_toggle {
  float: right;
}

.log_entry_body_holder {
  position: relative;
  margin: none;
  padding: none;
}

.log_entry_time, .log_entry_delete {
  display: none !important;
  position: absolute;
  top: -1.5em;
  font-size: x-small;
}
.log_entry:hover .log_entry_time,
.log_entry:hover .log_entry_delete {
  display: inline-block !important;
}
.log_entry_time {
  left: -4em;
}
.log_entry_delete {
  right: -1em;
  color: white;
  font-weight: bold;
}
.log_entry_delete a,
.log_entry_delete a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* Breadcrumbs */
.breadcrumb a {
  text-decoration: none;
  font-weight: bold;
}
.breadcrumb a:hover {
  text-decoration: none;
  font-weight: bold;
}
.alert {
  font-size: small;
  position: fixed;
  top: 5px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
}

/* Footer */
.footer {
  text-align: center;
  font-size: small;
}
